/* Show Full Original Message In Replies */

:root {
    --sfomir-build: "3";
}

.repliedMessage-3Z6XBG .repliedTextPreview-1bvxun .repliedTextContent-2hOYMB, 
.repliedMessage-3Z6XBG .repliedTextPreview-1bvxun .repliedTextContent-2hOYMB .inline {
    white-space: pre-line;
}

[id*="ShowFullOriginalMessageInReplies"] .bd-addon-header .bd-meta:before {
    content:"build " var(--sfomir-build) " ";
}
