/* Textarea Max Height Modifier */

@import url(https://discord-addons.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --tmhm-build: "3";
    --theme-name: "Textarea Max Height Modifier";
}
.scrollableContainer-15eg7h {
    max-height: var(--maxHeight);
}
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
    display: var(--version001_tamhm, block) !important;
}

[id*="TextareaMaxHeightModifier"] .bd-addon-header .bd-meta:before {
    content:"build " var(--tmhm-build) " ";
}
